name: test 1.1 - forced failure

on:
  workflow_dispatch:

permissions:
  actions: write

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: gh copilot cli part 2 - failed job
        run: cat fakefile.txt || exit 1

      - name: ci-auto-rerun-failed-jobs via ${{ env.github_repo || github.repository }}
        if: failure()
        run: gh workflow run test-2.yml -f run_id=${{ github.run_id }}
